@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom CSS */
:root {
    --color-accent: #d497d5;
}
html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}
