:root {
    --font-main: "Poppins", sans-serif;
    --color-bg: #fffaf8;
    --color-accent: #a87c7c;
}

body {
    margin: 0;
    font-family: var(--font-main), serif;
    background-color: var(--color-bg);
    color: #333;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
